body{

}
.container{
  background: #384858;
  color: white;
  padding: 3%;
  overflow: hidden;

}
#nombre{
  height: 10%;
  text-align: center;
  margin-top: 3%;
}
#developer{
  height: 10%;
  text-align: center;
}

#foto{
  border-radius: 20%;
  margin-top: 15%;
}
#delimitador{
  height: 11%;
  padding:5%;
  padding-right: 0;
}
#uno{
  border: solid yellow 1px;
}
#prim{
  border: solid green 1px;
}

#delim{
  padding: 0;
  align-items: center;
  margin: 0;
}
#nombre_profile{
  text-align: center;
  margin-top: 3%;
}
#nombre_profile1{
  text-align: center;
  margin-top: 5%;
}
#linea{
  border-bottom:solid white 2px;
  margin-bottom: 6%;
}
#profile{
  padding: 8%;
}
#prof_skills{
  padding: 10%;
  margin-top: 5%;
}
#img_profile{
  margin-top: 2%;
}
#hola{
  padding: 5%;
}
#hola2{
  padding: 1%;
}
#hola #skill{
    border: solid white 2px;
}
#hola2 #skill{
    border: solid white 2px;
}
#hola #skillx1{
  background:-webkit-linear-gradient(left, #3fbac2 90%, #dbedf3 10%);

}
#hola #skillx2{
  background:-webkit-linear-gradient(left, #3fbac2 70%, #dbedf3 30%);

}
#hola #skillx3{
  background:-webkit-linear-gradient(left, #3fbac2 70%, #dbedf3 30%);

}
#hola #skillx4{
  background:-webkit-linear-gradient(left, #3fbac2 80%, #dbedf3 20%);

}
#hola #skillx5{
  background:-webkit-linear-gradient(left, #3fbac2 50%, #dbedf3 50%);

}
#hola #skillx6{
  background:-webkit-linear-gradient(left, #3fbac2 47%, #dbedf3 47%);

}
#hola2 #skillx1{
  background:-webkit-linear-gradient(left, #3fbac2 90%, #dbedf3 10%);

}
#hola2 #skillx2{
  background:-webkit-linear-gradient(left, #3fbac2 80%, #dbedf3 20%);

}
#hola2 #skillx3{
  background:-webkit-linear-gradient(left, #3fbac2 75%, #dbedf3 25%);

}
#hola2 #skillx4{
  background:-webkit-linear-gradient(left, #3fbac2 70%, #dbedf3 30%);

}
#hola2 #skillx5{
  background:-webkit-linear-gradient(left, #3fbac2 80%, #dbedf3 20%);

}
#hola2 #skillx6{
  background:-webkit-linear-gradient(left, #3fbac2 85%, #dbedf3 15%);

}
#crono{
  border-right:solid white 2px;
  height: 10%;
  margin-top: 10%;
}
#crono2{
  border-right: solid white 2px;
  height: 10%;
  margin-top: 2%;
}
#punto{
  margin-left:19.5%;
  align-items: center;
  height: 5%;
}
#punto img{
  align-items: center;
}
#proy1{
  margin-top: 10%;
}
#cont{
  margin-top: 15%;
  margin-left: 7%;
  border: solid red 2px;

}
#icono{
  margin-top: 10%;
  margin-left: 7%;
  height: 13%;
}
#nose{
    height: 13%;
    margin-top: 10%;
    text-align: center;
}
#nose h5{
  margin-top: 8%;
  text-decoration: none;
  color:white;
}
